@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-list {
  display: flex;
  gap: 10px; /* This is where the gap between the cards will be applied */
  overflow: hidden; /* Prevents any overflow issues */
  padding: 0; /* Ensure there's no unwanted padding */
}

.slick-track {
  display: flex; /* Align items horizontally */
  gap: 10px; /* Ensures a gap between the slides */
}

.slick-slide {
  display: flex; /* Ensures each slide takes full height */
  justify-content: center; /* Optional, to center content within each slide */
}

:root {
  --main-bg-color: #f0f0f0;
  --primary-color: #3498db;
  --btn-bg: rgba(19, 210, 138, 1);
  --bg : rgba(2, 10, 34, 1);
  --form-bg : rgba(20, 27, 47, 0.1);
  --c1: rgba(57, 255, 118, 0.5);
  --c2: rgba(69, 136, 255, 0.5);
}